.page-hero {
    margin: 0;
    color: var(--color-athens);
    padding-top: 153px;
    padding-bottom: 179px; 

    &__breadcrumbs {
        margin-bottom: 40px;
    }
    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--color-ebony);
        max-width: 600px;
    }
    
    &__descr {
        margin: 0;
        max-width: 600px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-storm);
    }
}