.form-field {
    @include flex-column-start;

    &__caption {
        font-size: 14px;
        line-height: 150%;
        color: var(--color-gray);
        margin-bottom: 7px;
    }

    &--big {
        flex-grow: 1;
        .form-field__input {
            width: 100%;
        }
    }
    &__input {
        border: 1px solid #d7dadd;
        border-radius: 4px;
        background-color: var(--color-athens);
        padding-left: 15px;
        width: 260px;
        height: 44px;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        &::placeholder{
            color: #9a9ca5;
        }
        &--big {
            height: 66px;
            resize: none;
            padding-top: 10px;
        }
    }
    &--gray {
        width: 100%;
        .form-feild__input {
            width: 100%;
            background-color: var(--color-athens);
        }
    }
}