.page-hero {
    margin: 0;
    color: var(--color-athens);
    min-height: 600px;
    padding-top: 153px;
    padding-bottom: 80px;
    background-repeat: no-repeat;
    background-position: right -8px top;

    &__breadcrumbs {
        margin-bottom: 40px;
    }
    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--color-ebony);
        max-width: 600px;
    }
    
    &__descr {
        margin: 0;
        max-width: 600px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-storm);
    }

    &--services {
        background-image: url("../img/hero-services-bg.png");
    }

    &--services-design {
        background-image: url("../img/design-offer.jpg");
    }
}