.hero {
    background-color: var(--color-gray);
    background-image: url("../img/hero.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 220px;
    padding-bottom: 354px;

    &__container {
        max-width: 590px;
    }
    &__btns {
        .btn {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}