.page-hero {
    margin: 0;
    color: var(--color-athens);
    min-height: 600px;
    padding-top: 153px;
    padding-bottom: 80px;
    background-image: url("../img/design-bg.png");
    background-repeat: no-repeat;
    background-position: right -8px top;

    &__breadcrumbs {
        margin-bottom: 40px;
    }
    &__title {
        margin: 0;
        margin-bottom: 24px;
        font-weight: 700;
        font-size: 72px;
        line-height: 130%;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--color-ebony);
        max-width: 600px;
        &--small {
            font-weight: 700;
            font-size: 64px;
            line-height: 120%;
            color: var(--color-ebony);
            text-transform: initial;
        }
        &--mb {
            margin-bottom: 30px;
        }
    }
    
    &__descr {
        margin: 0;
        max-width: 600px;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-storm);
    }

    &--services {
        background-image: url("../img/hero-services-bg.png");
    }

    &--services-design {
        background-image: url("../img/design-offer.jpg");
    }
    &--work {
        background-image: url("../img/hero-work-bg.png");
    }
    &--project {
        background-position: right -8px top 48px;
        background-image: url("../img/hero-project-bg.png");
        background-color: var(--color-white);
    }
    &--about {
        background-color: var(--color-athens);
        background-image: url("../img/about-bg.png");
    }
}