.portfolio-section {
    padding: 120px 0;
    background-color: var(--color-white);

    &__title {
        margin: 0;
        max-width: 710px;
        padding-bottom: 12px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

    }
    &__items {
        margin: -100px;
        padding: 100px;

    }
    &__learn {
        margin-top: 80px;
    }
}

.portfolio-item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    background-color: var(--color-white);

    &__content {
        @include flex-column-center;
        padding: 0 10px;
        padding-bottom: 24px;
        padding-top: 16px;
    }
    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-ebony);
        margin-bottom: 5px;
    }
    &__descr{
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--color-storm);
    }
    &__btn {
        display: none;
        margin-top: 24px;
        border-color: var(--color-primary);
        border-style: 1px solid;
        padding: 13px 31px;
        border-radius: 4px;
        font-weight: 700;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: var(--color-primary);
    }
}
