.services-section {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 112px;
    padding-bottom: 80px;
    
    &__learn {
        @include flex-all-center;
    }
    
    &__subtitle {
        margin: 0;
        font-weight: 700;
        font-size: 28px;
        line-height: 150%;
        color: var(--color-ebony);
        margin-right: 40px;
    }
    &__list {
        margin-bottom: 80px;
    }
}
.services-list {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: var(--grid-gap);
}
.services-item {
    padding: 87px 10px;
    position: relative;
    display: block;
    background: #FFFFFF;
    border: 1px solid #E5E8ED;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    border-radius: 4px;

    &--construct {
        &::before {
            background-image: url("../img/services-1.jpg");
        }
    }
    &--dev {
        &::before {
            background-image: url("../img/services-2.jpg");
        }
    }
    &--design {
        &::before {
            background-image: url("../img/services-3.jpg");
        }
    }
    &--repare {
        &::before {
            background-image: url("../img/services-4.jpg");
        }
    }
    &::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: inherit;
        background-color: var(--color-ebony);
        z-index: 3;
        opacity: 0;
        transition: opacity 0.3 ease-in-out;
    }
    &::after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: rgba(#1e212c, 0.6);
        border-radius: inherit;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.3 ease-in-out;
    }
    &__content {
        position: relative;
        z-index: 10;
        @include flex-column-center;
    }
    &__icon {
        margin-bottom: 23px;
        width: 52px;
        height: 52px;
        object-fit: cover;
        fill: var(--color-primary);
        transition: fill 0.3s ease-in-out;
    }
    &__title {        
        margin: 0;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--color-ebony);
        transition: color 0.3s ease-in-out;
    }
    &:hover {
        &::before{
            opacity: 1;
        }
        &::after {
            opacity: 1;
        }
        .services-item__icon {
            fill: var(--color-white);
        }
        .services-item__title {
            color: var(--color-white);
        }
    }
}