.testimonials {
    padding-top: 97px;
    background-color: var(--color-athens);

    &__content {
        max-width: 600px;
    }

    &__title {
        margin-bottom: 60px;
    }
    &__swiper-slide {
        opacity: 1;
        visibility: visible;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__items {
        position: relative;
    }
    &__slider-nav {
        position: absolute;
        right: 0;
        bottom: 0;
    }

    &__image {
        margin-bottom: -60px;
        position: relative;
        z-index: 5;
    }
}
.testimonials-item {
    &__image {
        overflow: hidden;
        margin-bottom: 25px;
        border-radius: 100%;
        width: 72px;
        height: 72px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        margin: 0;
        margin-bottom: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-gray);
    }
    &__author {
        display: block;
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 160%;
        color: var(--color-ebony);
        padding-right: 120px;

        &-position {
            display: block;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            color: var(--color-storm);
            padding-right: 120px;
        }
    }

}