<section class="clients">
    <div class="container">
        <h2 class="title title--center clients__title">Our clients</h2>
        <ul class="list-reset clients__list">
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partner-1.png" alt="clients Logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partner-2.png" alt="clients Logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partner-3.png" alt="clients Logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partner-4.png" alt="clients Logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partner-5.png" alt="clients Logo">
                </a>
            </li>
            <li class="clients__item">
                <a href="#" class="clients__link">
                    <img src="img/partner-6.png" alt="clients Logo">
                </a>
            </li>
        </ul>
    </div>
</section>