<section class="design-offer">
    <div class="container">
        <div class="design-offer__img">
            <img src="img/design-offer.jpg" alt="">
        </div>
        <div class="design-offer__item">
            <h2 class="design-offer__title">We offer</h2>
            <div class="design-offer__dropdown">
                <div class="dropdown__item">
                    <h3 class="dropdown__title">Interior design of apartments</h3>
                    <p class="dropdown__descr">
                        Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.
                    </p>
                </div>
                <div class="dropdown__item">
                    <h3 class="dropdown__title">Interior design of private houses</h3>
                    <p class="dropdown__descr">
                        Adipiscing nunc arcu enim elit mattis eu&nbsp;placerat proin. Imperdiet elementum faucibus dignissim purus. Fusce parturient diam magna ullamcorper morbi semper massa ac&nbsp;facilisis.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

