<section class="page-hero page-hero--project">
    <div class="container">
        <ul class="list-reset breadcrumbs page-hero__breadcrumbs">
            <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Homepage</a></li>
            <li class="breadcrumbs__item"><a href="#" class="breadcrumbs__link">Work</a></li>
            <li class="breadcrumbs__item"><a class="breadcrumbs__link">Modern Cottage</a></li>
        </ul>
        <h1 class="page-hero__title--small page-hero__title--mb">Modern Cottage</h1> 
        <div class="project-images">
            <div class="project-images-slider">
                <button class="btn btn-reset slider-nav__btn project-images__prev slider__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#Left"></use>
                    </svg>
                </button>
                <button class="btn btn-reset slider-nav__btn project-images__next slider__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#Right"></use>
                    </svg>
                </button>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/project/main-project.jpg" alt="project">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project/main-project.jpg" alt="project">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project/main-project.jpg" alt="project">
                    </div>
                </div>
            </div>
            <div class="project-images-nav">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="img/project/project-1.jpg" alt="project">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project/project-1.jpg" alt="project">
                    </div>
                    <div class="swiper-slide">
                        <img src="img/project/project-1.jpg" alt="project">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>