<section class="partners">
    <div class="container">
        <h2 class="title title--center partners__title">Supported by 12+ partners</h2>
        <ul class="list-reset partners__list">
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partner-1.png" alt="Partners Logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partner-2.png" alt="Partners Logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partner-3.png" alt="Partners Logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partner-4.png" alt="Partners Logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partner-5.png" alt="Partners Logo">
                </a>
            </li>
            <li class="partners__item">
                <a href="#" class="partners__link">
                    <img src="img/partner-6.png" alt="Partners Logo">
                </a>
            </li>
        </ul>
    </div>
</section>