<section class="portfolio-section">
    <div class="container">
        <div class="portfolio-section__top">
            <h2 class="title portfolio-section__title">
                Browse our selected projects and learn more about our work
            </h2>
            <div class="slider-nav">
                <button class="btn btn-reset slider-nav__btn portfolio-section__prev slider__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#Left"></use>
                    </svg>
                </button>
                <button class="btn btn-reset slider-nav__btn portfolio-section__next slider__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#Right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper portfolio-section__items">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <a href="#" class="portfolio-item">
                      <img class="portfolio-item__img" src="img/project-1.jpg" alt="portfolio cover">
                      <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">
                            Red Finger Building
                        </h3>
                        <div class="portfolio-item__descr">
                            Business Centers
                        </div>
                        <button class="btn btn-reset portfolio-item__btn">
                            View Project
                        </button>
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="portfolio-item">
                    <img class="portfolio-item__img" src="img/project-2.jpg" alt="portfolio cover">
                    <div class="portfolio-item__content">
                      <h3 class="portfolio-item__title">
                        Cubes Building
                      </h3>
                      <div class="portfolio-item__descr">
                          Business Centers
                      </div>
                      <button class="btn btn-reset portfolio-item__btn">
                          View Project
                      </button>
                    </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="portfolio-item">
                    <img class="portfolio-item__img" src="img/project-3.jpg" alt="portfolio cover">
                    <div class="portfolio-item__content">
                      <h3 class="portfolio-item__title">
                        The Pencil Building
                      </h3>
                      <div class="portfolio-item__descr">
                        Stores & Malls
                      </div>
                      <button class="btn btn-reset portfolio-item__btn">
                          View Project
                      </button>
                    </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="portfolio-item">
                    <img class="portfolio-item__img" src="img/project-3.jpg" alt="portfolio cover">
                    <div class="portfolio-item__content">
                      <h3 class="portfolio-item__title">
                        The Pencil Building
                      </h3>
                      <div class="portfolio-item__descr">
                        Stores & Malls
                      </div>
                      <button class="btn btn-reset portfolio-item__btn">
                          View Project
                      </button>
                    </div>
                </a>
              </div>
          </div>
        </div>
    </div>
</section>