<section class="related-products">
    <div class="container">
        <div class="related-products__top">
            <h2 class="title related-products__title">
                Related projects
            </h2>
            <div class="slider-nav">
                <button class="btn btn-reset slider-nav__btn related-products__prev slider__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#Left"></use>
                    </svg>
                </button>
                <button class="btn btn-reset slider-nav__btn related-products__next slider__btn">
                    <svg>
                        <use xlink:href="img/sprite.svg#Right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="swiper related-products__items swiper-no-swiping">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                  <a href="#" class="portfolio-item">
                      <img class="portfolio-item__img" src="img/related-1.jpg" alt="portfolio cover">
                      <div class="portfolio-item__content">
                        <h3 class="portfolio-item__title">
                            Red Finger Building
                        </h3>
                        <div class="portfolio-item__descr">
                            Business Centers
                        </div>
                        <button class="btn btn-reset portfolio-item__btn">
                            View Project
                        </button>
                      </div>
                  </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="portfolio-item">
                    <img class="portfolio-item__img" src="img/related-2.jpg" alt="portfolio cover">
                    <div class="portfolio-item__content">
                      <h3 class="portfolio-item__title">
                        Cubes Building
                      </h3>
                      <div class="portfolio-item__descr">
                          Business Centers
                      </div>
                      <button class="btn btn-reset portfolio-item__btn">
                          View Project
                      </button>
                    </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="portfolio-item">
                    <img class="portfolio-item__img" src="img/related-3.jpg" alt="portfolio cover">
                    <div class="portfolio-item__content">
                      <h3 class="portfolio-item__title">
                        The Pencil Building
                      </h3>
                      <div class="portfolio-item__descr">
                        Stores & Malls
                      </div>
                      <button class="btn btn-reset portfolio-item__btn">
                          View Project
                      </button>
                    </div>
                </a>
              </div>
              <div class="swiper-slide">
                <a href="#" class="portfolio-item">
                    <img class="portfolio-item__img" src="img/related-3.jpg" alt="portfolio cover">
                    <div class="portfolio-item__content">
                      <h3 class="portfolio-item__title">
                        The Pencil Building
                      </h3>
                      <div class="portfolio-item__descr">
                        Stores & Malls
                      </div>
                      <button class="btn btn-reset portfolio-item__btn">
                          View Project
                      </button>
                    </div>
                </a>
              </div>
          </div>
        </div>
        <div class="related-products__learn learn-more">
            <h4 class="learn-more__subtitle">
                Explore all our works
            </h4>
            <a href="#" class="btn btn-reset learn-more__btn btn--fill">View portfolio</a>
        </div>
    </div>
</section>