<section class="section-benefits">
    <div class="container">
        <h2 class="title title--center section-benefits__title">Our benefits</h2>
        <p class="descr descr--center">
            Our section-benefits is&nbsp;to&nbsp;set the highest standards for construction sphere.
        </p>
        <ul class="list-reset section-benefits__list">
            <li class="section-benefits__item section-benefits__item--cost">
                <h3 class="section-benefits__subtitle">Fixed Terms & Cost</h3>
                <p class="section-benefits__descr">
                    Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
                </p>
            </li>
            <li class="section-benefits__item section-benefits__item--workers">
                <h3 class="section-benefits__subtitle">Qualified Workers</h3>
                <p class="section-benefits__descr">
                    Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim empor est ea.
                </p>
            </li>
            <li class="section-benefits__item section-benefits__item--control">
                <h3 class="section-benefits__subtitle">Supervision & Control</h3>
                <p class="section-benefits__descr">
                    Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
                </p>
            </li>
        </ul>
        <div class="section-benefits__centered">
            <button class="btn btn-reset btn--fill section-benefits__btn">Discuss a project</button>
        </div>
    </div>
</section>