// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/nav";
@import "./components/header-contacts";
@import "./components/hero";
@import "./components/video-block";
@import "./components/about-section";
@import "./components/mission";
@import "./components/services-section";
@import "./components/form-field";
@import "./components/slider-nav";
@import "./components/portfolio";
@import "./components/learn-more";
@import "./components/partners";
@import "./components/testimonials";
@import "./components/facts";
@import "./components/recent-news";
@import "./components/application";
@import "./components/footer";
@import "./components/social";

@import "./components/hero-services";
@import "./components/breadcrumbs";
@import "./components/services-content";

@import "./components/design";
@import "./components/we-offer";
@import "./components/how-we-do";
@import "./components/services-benefits";
@import "./components/related-products";
@import "./components/pricing";

